include APACHE_LICENSE
include LICENSE
include README.rst
include MANIFEST.in
include requirements.txt
recursive-exclude * __pycache__
recursive-include envelope/locale *
recursive-include envelope/templates *.html
recursive-include envelope/templates *.txt
